/*  --------------------------------------------------------------------------  */
/*  ----------  /master-javascript-clasico-jquery-typescript-mean/  ----------  */
/*  ----------  /01-html-repaso-opcional/  -----------------------------------  */
/*  ----------  /assets/css/styles.css  --------------------------------------  */
/*  --------------------------------------------------------------------------  */

html {
    font-size: 10px;
}

body {
    max-width: 1024px;
    width: 100%;
    /* height: 100vh; */
    margin: 0 auto;
    padding: 0;
}

h1 {
    font-size: 2.6rem;
}

h1,
h2 {
    text-align: center;
}




/* Estilo base del menú principal */
.layout__navbar {
    display: flex;
    flex-wrap: wrap;
    background-color: #333;
    padding: 10px 20px;
    font-size: 2rem;
    /* text-align: center; */
}

.navbar__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.navbar__item {
    position: relative; 
}

.navbar__item > a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    transition: background-color 0.3s ease;
}

.navbar__item > a:hover {
    background-color: #555;
}

/* .navbar__title {
    width: 300px;
} */


/* Estilo del submenú */
.navbar-submenu__list {
    width: 250px;
    list-style-type: none;
    padding: 10px 0;
    margin: 0;
    position: absolute;
    top: 100%; /* Posicionar debajo del elemento principal */
    left: 0;
    background-color: #444;
    /* min-width: 250px; */
    display: none; /* Ocultar el submenú por defecto */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.navbar-submenu__item a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    font-size: 1.6rem;
}

.navbar-submenu__item a:hover {
    background-color: #555;
}

/* Mostrar el submenú al hacer hover sobre el elemento principal */
.navbar__item:hover .navbar-submenu__list {
    display: block;
}


/*  ----------  */

.layout__main {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.main__label {
    margin-top: 5rem;
    font-size: 2.4rem;
    margin-bottom: 3rem;
}

.main__results {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: center; */
    gap: 2rem;
    font-size: 1.6rem;
}



/* Estilo responsivo para pantallas pequeñas */
@media (max-width: 768px) {
    
    /* .navbar {
        width: 100%; 
        border-radius: 0; 
    } */

    .navbar__item a {
        font-size: 1.2rem; 
        padding: 0.8rem 1.2rem;
    }
}
