/*  --------------------------------------------------------------------------  */
/*  ----------  /master-javascript-clasico-jquery-typescript-mean/  ----------  */
/*  ----------  /03-javascript-en-profundidad/  ------------------------------  */
/*  ----------  /assets/css/01-dom.css  --------------------------------------  */
/*  --------------------------------------------------------------------------  */


body {
    max-width: 650px;
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    padding: 0;
    background-color: aliceblue;
}

h1,
h2,
h3 {
    text-align: center;
}
