/*  --------------------------------------------------------------------------  */
/*  ----------  /master-javascript-clasico-jquery-typescript-mean/  ----------  */
/*  ----------  /03-javascript-en-profundidad/  ------------------------------  */
/*  ----------  /assets/css/14-funciones-matematicas.css  --------------------  */
/*  --------------------------------------------------------------------------  */


body {
    position: relative;
    max-width: 1024px;
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    padding: 0;
    padding-bottom: 100px;
    background-color: aliceblue;
}

h1,
h2,
h3 {
    text-align: center;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: dodgerblue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

button:hover {
    background-color: darkblue;
}
